<!DOCTYPE html>
<html>
{{> head }}
<body>
  <div class="container">
    {{> header }}
    <form id="rt-form" onsubmit="return false">
      <div class="row">
        <div class="col-md-12">
          <input type="text" size="30" autofocus
            placeholder="Insira o username do seu amigo..."
            class="input-lg form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-primary btn-lg center-block" type="submit"
            value="Random Fake RT">
        </div>
      </div>
    </form>
    {{> footer}}
  </div>
  <script>
    var form = document.querySelector('form')
    form.addEventListener("submit", function (e) {
      window.location.pathname = form.querySelector('input').value
      return false
    } , false);
  </script>
  {{> analytics }}
</body>
</html>
