<!DOCTYPE html>
<html>
{{> head }}
<body>
  <div class="container">
    {{> header }}
    <blockquote class="twitter-tweet" data-cards="hidden" lang="pt">
      <p>{{ rt }}</p>
    </blockquote>
    <a class="btn btn-primary btn-lg" target="_blank"
      href="https://twitter.com/intent/tweet?related=caarlos0&text={{ rt }}">
      <i class="fa fa-twitter"></i> Tweetar
    </a>
    <a href="/{{ user }}" class="btn btn-default btn-lg">
      <i class="fa fa-refresh"></i> Outro
    </a>
    {{> footer}}
  </div>
  {{> analytics }}
</body>
</html>
