<!DOCTYPE html>
<html>
{{> head }}
<body>
  <div class="container">
    {{> header }}
    <blockquote class="twitter-tweet" data-cards="hidden" lang="pt">
      <p>{{ rt }}</p>
    </blockquote>
    <a class="btn btn-primary btn-lg" target="_blank"
      href="https://twitter.com/intent/tweet?text={{ encRt }} http://goo.gl/r1QpNG">
      <i class="fa fa-twitter"></i> Tweetar
    </a>
    <a class="btn btn-link"
      href="/{{ user }}/{{ id }}">
      Permalink
    </a>
    {{> footer}}
  </div>
  {{> analytics }}
</body>
</html>
